.icon-title-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.project-icon {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.title-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-description h2 {
    font-size: 22px;
    margin: 0;
}

.title-description p {
    margin: 0;
}

.content-preview {
    padding: 20px;
    border-radius: 10px;
    background-color: $lightBackground;
    box-shadow: 0 4px 6px $shadowColor;
    transition: box-shadow 0.3s ease-in-out;
}

.content-preview:hover {
    box-shadow: 0 6px 12px $strongShadowColor;
}

.link-icon {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 24px;
    color: $primaryTextColor;
}

.link-icon:hover {
    color: #007bff; /* Change color on hover (optional) */
}
