h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $helveticaNeue;
    color: $headingColor;
    font-weight: bold;

    line-height: 1.7;
    margin: 1em 0 15px;
    padding: 0;

    @include mobile {
        line-height: 1.4;
    }
}

h1 {
    font-size: 30px;
    a {
        color: inherit;
    }
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
    color: $secondaryTextColor;
}

small {
    font-size: 0.9em;
    color: $subtleTextColor;
    margin-top: 10px;
}
