//
// VARIABLES
//

// Colors
$accent: #4183c4;

// Grays
$background-dark: #000;
$heading-color: #222;
$primary-text: #333;
$secondary-text: #666;
$border-color: #eee;
$background-light: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
    @media screen and (max-width: 640px) {
        @content;
    }
}
