//
// VARIABLES
//

// Colors
$primary: #1e70b8; // A darker shade of blue

// Grays
$textColor: #ddd; // Light gray for text
$headingColor: #f0f0f0; // Almost white for headings
$primaryTextColor: #e0e0e0; // Slightly darker for primary text
$secondaryTextColor: #999; // Lighter gray for secondary text
$lightBackground: #222; // Dark gray for light backgrounds
$background: #191919;

$shadowColor: rgba(0, 0, 0, 0.5);
$strongShadowColor: rgba(0, 0, 0, 1);

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
    @media screen and (max-width: 640px) {
        @content;
    }
}
